<?xml version="1.0"?>
<configuration>
  <appSettings file="localsettings.config">
    <!-- Required -->
    <add key="DirectoryToArchive" value="C:\Users\"/>
    <add key="VaultName" value="your.vault.name"/>
    <!-- Optional -->
    <!-- add key="BackupFilePath" value="C:\"/ -->
    <!-- add key="ArchiveDescription" value="Backup of my temp dir."/ -->
  </appSettings>
</configuration>