<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- Required -->
    <add key="DIRECTORY" value="/home/scott/code/go"/>
    <add key="VAULT_NAME" value="code.backup"/>
    <!-- Optional -->
    <!-- add key="BackupFilePath" value="C:\"/ -->
    <!-- add key="ArchiveDescription" value="Backup of my temp dir."/ -->
  </appSettings>
</configuration>