<?xml version="1.0"?>
<configuration>
  <appSettings file="localsettings.config">
    <!-- Required -->
    <add key="DirectoryToArchive" value="/home/scott/code/go"/>
    <add key="VaultName" value="code.backup"/>
    <!-- Optional -->
    <!-- add key="BackupFilePath" value="C:\"/ -->
    <!-- add key="ArchiveDescription" value="Backup of my temp dir."/ -->
  </appSettings>
</configuration>